<!DOCTYPE html>
<html>
<head>
 <title>Grayscale</title>
 <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
 <%= csrf_meta_tags %>
 <%= javascript_include_tag "application", "data-turbolinks-track" => true  %>

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= yield %>

</body>
</html>
